<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
    <form th:method="POST" th:object="${person}" th:action="@{/people}">
        <div>
        <label for="name">Имя</label>
        <input type="text" th:field="*{name}" id="name">
            </br>
        <label for="year">Год рождения</label>
        <input type="text" th:field="*{year}" id="year">
            </br>
        <input type="submit" value="Сохранить">
        </div>
    </form>
</body>
</html>